# -------------------------------------------------------------------------
# Build Artifacts
# -------------------------------------------------------------------------
build/
*.o
*.out
*.exe


# -------------------------------------------------------------------------
# Python Artifacts (for the analysis script)
# -------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# -------------------------------------------------------------------------
# IDE and OS Files
# -------------------------------------------------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db


# ---------------
*.csv
Graphs/
